<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{block name="title"}{/block}</title>
    {include file="common/source"}
    {include file="common/login_js"}
</head>
<body>
{include file="common/header"}
{block name="body"}
{/block}
{include file="common/footer"}
</body>
{block name="js"}{/block}
</html>