<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{block name="title"}{/block}</title>
    {include file="common/source"}
    {include file="common/login_js"}
    {block name="extends_source"}{/block}
    <link href="__STATIC__/css/simditor.css" rel="stylesheet" type="text/css">

    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="__STATIC__/js/module.js"></script>
    <script type="text/javascript" src="__STATIC__/js/hotkeys.js"></script>
    <script type="text/javascript" src="__STATIC__/js/uploader.js"></script>
    <script type="text/javascript" src="__STATIC__/js/simditor.js"></script>

</head>
<body>
{include file="common/header"}
<!--  -->
<div id="content">
    <div class="w1200 pt20">
        <div class="w1200">
            <div class="mybox_H">
                <div class="mybox_H_inr fl">个人中心</div>
            </div>
            <div class="w100 bgf mybox_B k1" style="margin-bottom: 30px;">
                <div class="mybox_L">
                    <a href="{:url('index.my.info')}">
                        <div class="mybox_L_div {if $pageType == 'info'} cur {/if}">个人信息</div>
                    </a>
                    <a href="{:url('index.my.auth')}">
                    <div class="mybox_L_div {if $pageType == 'auth'} cur {/if}">认证</div>
                    </a>
                    <a href="{:url('index.my.both')}">
                    <div class="mybox_L_div {if $pageType == 'both'} cur {/if}">我的关注</div>
                    </a>
                    <a href="{:url('index.my.fans')}">
                    <div class="mybox_L_div {if $pageType == 'fans'} cur {/if}">我的粉丝</div>
                    </a>
                    <a href="{:url('index.my.order')}">
                    <div class="mybox_L_div {if $pageType == 'order'} cur {/if}">我的订单</div>
                    </a>
                    <a href="{:url('index.my.shopping')}">
                    <div class="mybox_L_div {if $pageType == 'shopping'} cur {/if}">购物车</div>
                    </a>
                    <a href="{:url('index.my.address')}">
                    <div class="mybox_L_div {if $pageType == 'address'} cur {/if}">我的地址</div>
                    </a>
                    <a href="{:url('index.my.revisePassword')}">
                    <div class="mybox_L_div {if $pageType == 'revisePassword'} cur {/if}">修改密码</div>
                    </a>
                    <a href="{:url('index.my.articleCreate')}">
                    <div class="mybox_L_div {if $pageType == 'articleCreate'} cur {/if}">发布文章</div>
                    </a>
                    <a href="{:url('index.my.article')}">
                    <div class="mybox_L_div {if $pageType == 'article'} cur {/if}">我的文章</div>
                    </a>
                </div>
                <div class="mybox_R">
                    {block name="content"}{/block}
                </div>
            </div>
        </div>
    </div>
    <div class="mb30"></div>
</div>

{include file="common/footer"}
</body>
<script>
    //开启加载层
    function openload() {
        $(".load_box").fadeIn(500);
    };
    //关闭加载层
    function closeload() {
        $(".load_box").fadeOut(500);
    };
    //加载完成关闭
    $(window).load(function() {
        closeload();
    });

    $(".mybox_L_div").click(function() {
        var _index = $(".mybox_L_div").index(this);
        $(".mybox_L_div").removeClass('cur');
        $(".mybox_L_div").eq(_index).addClass('cur');
        $(".hook").hide();
        $(".hook").eq(_index).show();
    })
    $('input[type="file"]').on('change', function(e) {
        var _name = $(this).attr('data-name');
        var file = e.target.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(file); // 读出 base64
        reader.onloadend = function() {
            // 图片的 base64 格式, 可以直接当成 img 的 src 属性值
            var dataURL = reader.result;
            // 下面逻辑处理
            $("#" + _name + "").attr('src', dataURL);
            $('input[name="' + _name + '"]').attr('value', dataURL)
        };
    });

    function getNum(str, _this) { //购物车加减
        var _numDom = $(_this).parents('.car_num_box').find("input");
        var _val = Number(_numDom.val());
        if (str) { //+
            _numDom.val(_val + 1);
        } else { //-
            if (_val <= 1) {
                _numDom.val(1);
            } else {
                _numDom.val(_val - 1);
            }
        };
        getTotal();
    };
    var checkArr = []; //选中id
    getTotal();

    function getTotal() { //总价计算
        var _total = 0;
        $.each($(".car_box tr"), function(index, el) {
            if (index) {
                var _num = $(el).find('.car_num_box').find('input').val();
                var _price = $(el).find('.price').html().trim();
                var _freight = $(el).find('.freight').html().trim();
                var _checkbox = $(el).find('.checkbox').is(':checked');
                if (_checkbox) {
                    _total += (_price * _num) + Number(_freight);
                }
            }
        });
        $(".total").html(_total ? _total.toFixed(2) : 0);
    };
    $(".car_box .checkbox").change(function() { //checkbox  change
        checkArr = [];
        if ($(this).attr('id') == 'all') {
            if (!$(this).is(':checked')) {
                $.each($(".car_box .checkbox"), function(index, el) {
                    $(el).removeAttr('checked')

                });
            } else {
                $.each($(".car_box .checkbox"), function(index, el) {
                    $(el).attr('checked', 'checked')
                });
            }

        };
        var _checkNum = 0;
        $.each($(".car_box .checkbox"), function(index, el) {
            if (index) {
                if ($(this).is(':checked')) {
                    _checkNum++;
                    checkArr.push($(this).attr('data-id'));
                }
            }
        });
        if (_checkNum == $(".car_box .checkbox").length - 1) { //全选
            $("#all").attr('checked', 'checked');
        } else { //非全选
            $("#all").removeAttr('checked');
        }
        getTotal();
    });

    function del() { //删除
        if (!checkArr.length) { //没有选择商品

        }
    }

    var editor = new Simditor({
        textarea: $('#editor'),
        toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', 'ol', 'ul',
            'blockquote', 'table', 'link', 'image', 'hr', 'indent', 'outdent', 'alignment'
        ],
        upload: {
            url: '/index/Forum/uploadContentPic',
            params: null,
            fileKey: 'file_path',
            connectionCount: 1,
            leaveConfirm: '正在上传图片请勿关闭此页面'
        },
        placeholder: '',
        imageButton: ['upload'],
    });
    editor.sync();

    function send_comment() {
        console.log($('#editor').val())
    }

    function auth()
    {
        var formData = new FormData($('#form2')[0])
        $.ajax({
            url:"{:url('index/My/auth')}",
            type:'post',
            dataType:'json',
            data:formData,
            contentType:false,
            processData:false,
            success:function(data){
                layer.msg(data.msg)
            }
        })
    }

    function removeBoth(_this,user_id)
    {
        $.ajax({
            url:"{:url('index/My/focusUserOrRemove')}",
            type:'post',
            dataType:'json',
            data:{
                user_id : user_id,
                type : 2,
            },
            success:function(data){
                $(_this).parents('.both_box').remove();
                layer.msg(data.msg)
            }
        })
    }
</script>
{block name="js"}{/block}
</html>
