{extend name="my/common/base"}

{block name="title"}我的地址 -  个人中心{/block}


{block name="content"}
<!-- 我的地址 -->
<div class="mybox_R_one hook">
    <div class="my_b_r_type my_b_r_type1">
        <span class="">我的地址</span>
        <div class="fr del_settlement oh">
            <button type="button" class="btn settlement"><a href="{:url('index.my.addressCreate')}" class="cf">添加地址</a></button>
        </div>
    </div>
    <div class="w100">
        <div class="next-table">
            <table role="table fz12" style="width: 100%;">
                <thead class="next-table-header fz12 tac">
                <tr>
                    <th rowspan="1" type="header" class="next-table-cell next-table-header-node">
                        <div class="next-table-cell-wrapper">收货人</div>
                    </th>
                    <th rowspan="1" type="header" class="next-table-cell next-table-header-node">
                        <div class="next-table-cell-wrapper" data-spm-anchor-id="0.0.0.i0.3dda175cAtI8CC">所在地区</div>
                    </th>
                    <th rowspan="1" type="header" class="next-table-cell next-table-header-node">
                        <div class="next-table-cell-wrapper">详细地址</div>
                    </th>
                    <th rowspan="1" type="header" class="next-table-cell next-table-header-node">
                        <div class="next-table-cell-wrapper">电话/手机</div>
                    </th>
                    <th rowspan="1" type="header" class="next-table-cell next-table-header-node">
                        <div class="next-table-cell-wrapper">操作</div>
                    </th>
                    <th rowspan="1" type="header" class="next-table-cell next-table-header-node">
                        <div class="next-table-cell-wrapper"></div>
                    </th>
                </tr>
                </thead>
                <tbody class="next-table-body tac fz12">
                {foreach $address as $key => $value}
                <tr class="next-table-row first" role="row">
                    <td type="body" class="next-table-cell first">
                        <div class="next-table-cell-wrapper">{$value.user_name}</div>
                    </td>
                    <td type="body" class="next-table-cell">
                        <div class="next-table-cell-wrapper"><span>{$value.province} {$value.city} {$value.area}</span></div>
                    </td>
                    <td type="body" class="next-table-cell">
                        <div class="next-table-cell-wrapper">{$value.address}</div>
                    </td>
                    <td type="body" class="next-table-cell">
                        <div class="next-table-cell-wrapper"><span>{$value.phone}<br></span></div>
                    </td>
                    <td type="body" class="next-table-cell">
                        <div class="next-table-cell-wrapper">
                            <div class="tAction ">
                                <a class="t-change" href="{:url('index.my.addressEdit',['id'=>$value.id])}">修改</a>
                                <span class="t-line">|</span>
                                <a class="t-change" onclick="addressRemove(this,'{:url('index/My/addressDelete',['id'=>$value.id])}')" href="javascript:void(0);">删除</a>
                            </div>
                        </div>
                    </td>
                    <td type="body" class="next-table-cell last">
                        <div class="next-table-cell-wrapper">
                            <a href="javascript:void(0);">
                                <div class="tac" onclick="addressDefault('{:url('index/My/addressDefault',['id'=>$value.id])}')"><span {if $value.is_default == 1}  class="t-default" {/if}>默认地址</span></div>
                            </a>
                        </div>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>

    function addressRemove(_this,url)
    {
        $.ajax({
            url:url,
            type:'post',
            dataType:'json',
            data:{},
            success:function(data){
                layer.msg(data.msg)
                $(_this).parents('tr').remove();
                // layer.msg(data.msg)
            }
        })

        return false;
    }

    function addressDefault(url)
    {
        $.ajax({
            url:url,
            type:'post',
            dataType:'json',
            data:{},
            success:function(data){
                window.location.reload()
            }
        })

        return false;
    }
</script>
{/block}