{extend name="my/common/base"}

{block name="title"}我的粉丝 - 个人中心{/block}


{block name="content"}
<!-- 我的粉丝 -->
<div class="mybox_R_one hook">
    <div class="my_b_r_type my_b_r_type1">
        <span class="">我的粉丝</span>
    </div>
    <div class="w100">
        <div class="p30">
            {foreach $fans as $key => $value}
            <div class="daka_list mb30 oh both_box">
                <a href="" class="list_avt oh  fl">
                    <img src="{$value.avatar_url}" alt="" class="mr20">
                    <div class=" fz18 c3 lh25 h25 oh1">{$value.nickname}</div>
                    <!--<div class="lh25 h25 oh1 fz16 c9">EEK棒(聚醚醚酮)是具备优</div>-->
                </a>
            </div>
            {/foreach}
            <div style="margin-top: 15px;text-align: center;">
                {$fans->render()|raw}
            </div>
        </div>
    </div>
    <div>
        <!-- 分页 -->
    </div>
</div>
{/block}

{block name="js"}
<script>
    function auth()
    {
        var formData = new FormData($('#form2')[0])
        $.ajax({
            url:"{:url('index/My/authChange')}",
            type:'post',
            dataType:'json',
            data:formData,
            contentType:false,
            processData:false,
            success:function(data){
                layer.msg(data.msg)
            }
        })
    }
</script>
{/block}