{extend name="my/common/base"}

{block name="title"}个人信息 - 个人中心 {/block}

{block name="content"}
<!-- 个人信息 -->
<div class="mybox_R_one hook" style="display: block;">
    <div class="my_b_r_type my_b_r_type1">
        <span class="">个人信息</span>
    </div>
    <div class="w100">
        <form id="form1">
            <div class="formlist clearfix">
                <div class="formtit">头像设置:</div>
                <div class="uploadfile"><img id="tx" src="{$user_info.avatar_url}">
                    <input id="file" name="file" type="file" accept="image/*" class="txsc" data-name="tx">
                    <input type="hidden" name="tx">
                </div>
                <div class="upimgtip">
                    <p>选择本地照片，上传编辑自己的头像</p>
                    <p>支持jpg、jpeg、gif、png、bmp格式的图片</p>
                </div>
            </div>
            <div class="formlist clearfix">
                <div class="formtit">*昵称:</div>
                <div class="forminr">
                    <input type="text" value="{$user_info.nickname}" name="nickname" class="form_int"/>
                </div>
            </div>
            <input type="button" onclick="updateUserInfo()" value="保存" class="my_msg_Submit">
        </form>
    </div>
</div>
{/block}

{block name="js"}
<script>
    function updateUserInfo () {
        var formData = new FormData($('#form1')[0])
        $.ajax({
            url:"{:url('index/My/saveInfo')}",
            type:'post',
            dataType:'json',
            data:formData,
            contentType:false,
            processData:false,
            success:function(data){
                layer.msg(data.msg)
            }
        })
    }
</script>
{/block}