{extend name="my/common/base"}

{block name="title"}修改密码 - 个人中心 {/block}

{block name="content"}
<!-- 个人信息 -->
<div class="mybox_R_one hook" >
    <div class="my_b_r_type my_b_r_type1">
        <span class="">修改密码</span>
    </div>
    <form id="form2">
        <div class="formlist clearfix">
            <div class="formtit">当前密码:</div>
            <div class="forminr"><input type="password" name="old_password" class="form_int"></div>
        </div>
        <div class="formlist clearfix">
            <div class="formtit">新密码:</div>
            <div class="forminr">
                <input type="password" name="new_password" class="form_int">
                <!-- <span class="showkg showkg1"></span> -->
            </div>
        </div>
        <div class="formlist clearfix">
            <div class="formtit">确认密码:</div>
            <div class="forminr"><input type="password" name="repeat_password" class="form_int"></div>
        </div> <input type="button" onclick="save()" value="保存" class="my_msg_Submit">
    </form>
</div>
{/block}

{block name="js"}
<script>
    function save () {
        var formData = new FormData($('#form2')[0])
        $.ajax({
            url:"{:url('index/My/passwordUpdate')}",
            type:'post',
            dataType:'json',
            data:formData,
            contentType:false,
            processData:false,
            success:function(data){
                layer.msg(data.msg)
            }
        })
    }
</script>
{/block}