{include file="common/source"}

<link rel="stylesheet" href="__STATIC__/js/plugins/webuploader/webuploader.css">
<script src="__STATIC__/js/plugins/webuploader/webuploader.js"></script>
<form action="" class="form-horizontal">
    <input type="hidden" name="index_information_qrCode_1" value="{$config.index_information_qrCode_1}">
    <input type="hidden" name="index_information_qrCode_2" value="{$config.index_information_qrCode_2}">
    <input type="hidden" name="business_parters" value="{$config.business_parters}">
    <input type="hidden" name="information_banner" value="{$config.information_banner}">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="clients-list">
                <ul class="nav nav-tabs">
                    <span class="pull-right small text-muted"></span>
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="false">上传</a>
                    </li>
                    <li><a data-toggle="tab" href="#tab-2" aria-expanded="true">信息</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="ibox-content">
                            <div class="form-group" style="margin-top: 15px;">
                                <label class="col-sm-3 control-label">合作企业(点击旧图删除):</label>
                                <div class="col-sm-8">
                                    <!--dom结构部分-->
                                    <div id="uploader-demo3">
                                        <div id="filePicker3" style="margin-bottom: 10px;">选择图片</div>
                                        <!--用来存放item-->
                                        <div id="fileList3" class="uploader-list">
                                            {if $config.business_parters}
                                            {foreach :explode(',',$config.business_parters) as $key => $value}
                                            <div onclick="remove_business_parters(this,'{$value}')" style="display: inline-block;margin-right: 20px;" class="upload-state-done">
                                                <img style="width: 90px;" src="{$value}">
                                            </div>
                                            {/foreach}
                                            {/if}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">首页资讯二维码1:</label>
                                <div class="col-sm-8">
                                    <!--dom结构部分-->
                                    <div id="uploader-demo">
                                        <div id="filePicker" style="margin-bottom: 10px;">选择图片</div>
                                        <!--用来存放item-->
                                        <div id="fileList" class="uploader-list">
                                            <div style="display: inline-block;margin-right: 20px;" class="upload-state-done">
                                                <img src="{$config.index_information_qrCode_1}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">首页资讯二维码2:</label>
                                <div class="col-sm-8">
                                    <!--dom结构部分-->
                                    <div id="uploader-demo2">
                                        <div id="filePicker2" style="margin-bottom: 10px;">选择图片</div>
                                        <!--用来存放item-->
                                        <div id="fileList2" class="uploader-list">
                                            <div style="display: inline-block;margin-right: 20px;" class="upload-state-done">
                                                <img src="{$config.index_information_qrCode_2}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">资讯banner:</label>
                                <div class="col-sm-8">
                                    <!--dom结构部分-->
                                    <div id="uploader-demo4">
                                        <div id="filePicker4" style="margin-bottom: 10px;">选择图片</div>
                                        <!--用来存放item-->
                                        <div id="fileList4" class="uploader-list">
                                            <div style="display: inline-block;margin-right: 20px;" class="upload-state-done">
                                                <img style="width: 90px;" src="{$config.information_banner}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">

                        <div class="form-group" style="margin-top: 20px;">
                            <label class="col-sm-3 control-label">网站介绍:</label>
                            <div class="col-sm-8">
                                <textarea name="description" cols="120" rows="10">{$config.description}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">网站关键字:</label>
                            <div class="col-sm-8">
                                <textarea name="keywords" placeholder="请逗号分割.." cols="120" rows="10">{$config.keywords}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">咨询热线:</label>
                            <div class="col-sm-8">
                                <input name="hotLine" value="{$config.hotLine}" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">地址:</label>
                            <div class="col-sm-8">
                                <input name="address" value="{$config.address}" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">电话:</label>
                            <div class="col-sm-8">
                                <input name="phone" value="{$config.phone}"  type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">传真:</label>
                            <div class="col-sm-8">
                                <input name="fax" value="{$config.fax}" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">邮箱:</label>
                            <div class="col-sm-8">
                                <input name="email" value="{$config.email}" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 99px;">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-success" onclick="save()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    var save = function () {
        var formData = new FormData($('form')[0]);

        $.ajax({
            url: "{:url('admin/Config/save')}",
            type: 'post',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg, {icon: 5})
                } else {
                    layer.msg('保存成功', {icon: 1});
                }
            }
        })
    }


    var remove_business_parters = function(_this,val){
        var arr = $('input[name=business_parters]').val().split(',')
        var new_arr = [];
        $(arr).each(function(k,v){
            if (v != val){
                new_arr.push(v)
            }
        })
        $('input[name=business_parters]').val(new_arr.join(','))
        $(_this).remove()
    }

    $(function () {


        var $list = $("#fileList");
        // 初始化Web Uploader
        var uploader = WebUploader.create({

            // 选完文件后，是否自动上传。
            auto: true,

            // swf文件路径
            swf: "__STATIC__/js/plugins/webuploader/Uploader.swf",


            // 文件接收服务端。
            server: "{:url('admin/Config/uploadPic')}",

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',

            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        uploader.on('fileQueued', function (file) {
            var $li = $(
                '<div id="' + file.id + '" style="display: inline-block;margin-right: 20px;">' +
                '<img>' +
                '</div>'
                ),
                $img = $li.find('img');


            // $list为容器jQuery实例
            $list.html($li);

            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr('src', src);
            }, 100, 100);
        });
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress span');

            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<p class="progress"><span></span></p>')
                    .appendTo($li)
                    .find('span');
            }

            $percent.css('width', percentage * 100 + '%');
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, response) {

            $('input[name=index_information_qrCode_1]').val(response.msg)
            $('#' + file.id).addClass('upload-state-done');
        });

        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file) {
            var $li = $('#' + file.id),
                $error = $li.find('div.error');

            // 避免重复创建
            if (!$error.length) {
                $error = $('<div class="error"></div>').appendTo($li);
            }

            $error.text('上传失败');
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').remove();
        });





        var $list2 = $("#fileList2");
        // 初始化Web Uploader
        var uploader = WebUploader.create({

            // 选完文件后，是否自动上传。
            auto: true,

            // swf文件路径
            swf: "__STATIC__/js/plugins/webuploader/Uploader.swf",


            // 文件接收服务端。
            server: "{:url('admin/Config/uploadPic')}",

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker2',

            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        uploader.on('fileQueued', function (file) {
            var $li = $(
                '<div id="' + file.id + '" style="display: inline-block;margin-right: 20px;">' +
                '<img>' +
                '</div>'
                ),
                $img = $li.find('img');


            // $list为容器jQuery实例
            $list2.html($li);

            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr('src', src);
            }, 100, 100);
        });
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress span');

            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<p class="progress"><span></span></p>')
                    .appendTo($li)
                    .find('span');
            }

            $percent.css('width', percentage * 100 + '%');
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, response) {

            $('input[name=index_information_qrCode_2]').val(response.msg)
            $('#' + file.id).addClass('upload-state-done');
        });

        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file) {
            var $li = $('#' + file.id),
                $error = $li.find('div.error');

            // 避免重复创建
            if (!$error.length) {
                $error = $('<div class="error"></div>').appendTo($li);
            }

            $error.text('上传失败');
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').remove();
        });





        var $list3 = $("#fileList3");
        // 初始化Web Uploader
        var uploader = WebUploader.create({

            // 选完文件后，是否自动上传。
            auto: true,

            // swf文件路径
            swf: "__STATIC__/js/plugins/webuploader/Uploader.swf",


            // 文件接收服务端。
            server: "{:url('admin/Config/uploadPic')}",

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker3',

            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        uploader.on('fileQueued', function (file) {
            var $li = $(
                '<div id="' + file.id + '" style="display: inline-block;margin-right: 20px;">' +
                '<img>' +
                '</div>'
                ),
                $img = $li.find('img');


            // $list为容器jQuery实例
            $list3.append($li);

            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr('src', src);
            }, 100, 100);
        });
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress span');

            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<p class="progress"><span></span></p>')
                    .appendTo($li)
                    .find('span');
            }

            $percent.css('width', percentage * 100 + '%');
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, response) {

            var arr = $('input[name=business_parters]').val().split(',')
            if (arr[0] == "") arr = []

            console.log(arr)
            arr.push(response.msg);
            $('input[name=business_parters]').val(arr.join(','))

            $('#' + file.id).addClass('upload-state-done');
        });

        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file) {
            var $li = $('#' + file.id),
                $error = $li.find('div.error');

            // 避免重复创建
            if (!$error.length) {
                $error = $('<div class="error"></div>').appendTo($li);
            }

            $error.text('上传失败');
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').remove();
        });





        var $list4 = $("#fileList4");
        // 初始化Web Uploader
        var uploader = WebUploader.create({

            // 选完文件后，是否自动上传。
            auto: true,

            // swf文件路径
            swf: "__STATIC__/js/plugins/webuploader/Uploader.swf",


            // 文件接收服务端。
            server: "{:url('admin/Config/uploadPic')}",

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker4',

            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        uploader.on('fileQueued', function (file) {
            var $li = $(
                '<div id="' + file.id + '" style="display: inline-block;margin-right: 20px;">' +
                '<img>' +
                '</div>'
                ),
                $img = $li.find('img');


            // $list为容器jQuery实例
            $list4.html($li);

            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr('src', src);
            }, 100, 100);
        });
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress span');

            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<p class="progress"><span></span></p>')
                    .appendTo($li)
                    .find('span');
            }

            $percent.css('width', percentage * 100 + '%');
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, response) {
            $('input[name=information_banner]').val(response.msg)

            $('#' + file.id).addClass('upload-state-done');
        });

        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file) {
            var $li = $('#' + file.id),
                $error = $li.find('div.error');

            // 避免重复创建
            if (!$error.length) {
                $error = $('<div class="error"></div>').appendTo($li);
            }

            $error.text('上传失败');
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').remove();
        });

    })
</script>