<div class="footer_nav">
    <div class="tac oh">
        <a href="">网站首页</a>
        <a href="">涂料新闻</a>
        <a href="">涂料社区</a>
        <a href="">涂料商城</a>
        <a href="">友情链接</a>
        <a href="">关于我们</a>
        <a href="">联系我们</a>
    </div>
</div>
<div class="footer">
    <div class="w1200 tac">
        <div class="f_code_box">
            <img style="width: 100px;" src="{$footer_qr_code}" alt="">
            <p class="fz12 cf">关注立昌氟碳涂料网</p>
        </div>
        <div class="tac cf fz14 lh20">地址：{$base_address} <br>
            电话：{$phone}传真：{$fax} <br>
            邮箱：{$email}</div>
    </div>
</div>