<link href="__STATIC__/css/reset.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/css/slick.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/css/slick-theme.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/fonts/style.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/css/style.css" rel="stylesheet" type="text/css">
<script src="__STATIC__/js/jquery-1.7.2.min.js"></script>
<script src="__STATIC__/js/slick.js"></script>
<script src="__STATIC__/js/layer/layer.js"></script>
