{include file="common/source"}
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="input-group" style="width: 300px;">
                <input id="search" value="{$search ?? ''}" placeholder="根据手机号或昵称搜索" type="text" class="form-control"> <span class="input-group-btn">
                <button onclick="window.location.href = '{:url('admin/User/index')}?search='+$('#search').val()" type="button" class="btn btn-primary">搜索</button> </span>
            </div>
            <!--<h5>-->
            <!--<button type="button" onclick="window.location.href='{:url('/admin/Goods/add')}'"-->
            <!--class="btn btn-w-m btn-primary">添加商品-->
            <!--</button>-->
            <!--</h5>-->
        </div>
        <div class="ibox-content">
            <div class="example">

                <table class="table table-bordered table-hover text-center">
                    <thead>
                    <tr class="text-center">
                        <th style="text-align: center;">手机号</th>
                        <th style="text-align: center;">昵称</th>
                        <th style="text-align: center;">头像</th>
                        <th style="text-align: center;">发布文章数</th>
                        <th style="text-align: center;">状态</th>
                        <th style="text-align: center;">是否认证</th>
                        <th style="text-align: center;">创建时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $user as $key => $value}
                    <tr>
                        <td>{$value->phone}</td>
                        <td>{$value->nickname}</td>
                        <td><a target="_blank" href="{:url('index.forum.user',['id'=>$value.id])}">
                            <img alt="image" width="38" height="38" class="img-circle" src="{$value.avatar_url}">
                        </a></td>
                        <td>{$value->forum_article_sum}</td>
                        <td>
                            {if $value->status == 0}
                            <a href="javascript:void(0);" onclick="checkStatus(this,0,'{$value->id}')">
                                <p><span class="label label-info">正常</span></p>
                            </a>
                            {else if $value->status == 1}
                            <a href="javascript:void(0);" onclick="checkStatus(this,1,'{$value->id}')">
                                <p><span class="label label-danger">已冻结</span></p>
                            </a>
                            {/if}
                        </td>
                        <td>
                            {if $value.is_auth == 3}
                            <a href="javascript:void(0);" onclick="seeAuth('{$value->id}')">
                                <p><span class="label label-info">已认证</span></p>
                            </a>
                            {else}
                            <a href="javascript:void(0);">
                                <p><span class="label label-default">未认证</span></p>
                            </a>
                            {/if}
                        </td>
                        <td>{$value->create_time|date="Y-m-d H:i:s"}</td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div style="text-align: center;">
                {$user->render()|raw}
            </div>
        </div>
    </div>
</div>
<script>

    checkStatus = function(_this,old_status,article_id) {
        $.ajax({
            url: "{:url('admin/User/changeStatus')}",
            type: 'post',
            dataType: 'json',
            data:{
                user_id : article_id,
            },
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg,{icon: 5})
                } else {
                    window.location.reload()
                }
            }
        })
    }

    seeAuth = function($id){
       var index = layer.open({
            type:2,
            content:"{:url('admin/User/authInfo')}?id="+$id
        })
        layer.full(index)
    }

    var removeArticle = function (_this, article_id) {
        $.ajax({
            url: "{:url('admin/Forum/delete')}",
            type: 'post',
            dataType: 'json',
            data:{
                article_id : article_id,
            },
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg,{icon: 5})
                } else {
                    layer.msg('删除成功',{icon : 1})
                    $(_this).parents('tr').remove();
                }
            }
        })
    }
</script>